#alien-canvas {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border: solid orange 5px;
    border-radius: 25px;
}
#alien-canvas:hover {
    cursor: crosshair;
}
.canvas-container {
    display: flex;
    justify-content: center;
}
.header {
    color: #8A2BE2;
    font-family: 'Nova Script', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.links {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}
body {
   background-color: black;
}
.lives {
    color: red;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    // justify-content: space-evenly;
    // float: left;
}
// .kill-count{
// }
#kills {
    color: red;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border-bottom: 0;
    padding-bottom: 0;
}
.player-info {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 800px;
    margin: auto;
}
li > img {
    width: 60px;
    height: 60px;
}
.canvas-container > p {
    color: orange;
    width: 100px;
}