#alien-canvas {
    background-image: url("../images/backgroundlevel1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border: solid #ffdd00 3px;
    border-radius: 25px;
}
#alien-canvas:hover {
    cursor: crosshair;
}
.canvas-container {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #8900f2;
    margin-bottom: 10px;
}

.title {
    padding-left: 30px;
    width: 300px;
    color:#00CED1;
    font-family: 'Nova Script', cursive;
    font-size: 40px;
}

.ufo-logo {
    width: 60px;
    height: 60px;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 150px;
}
body {
   background-color: black;
}

.container-supreme {
    background-image: url("../images/city-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 98vh;
}
.lives {
    color: red;
    list-style: none;
    display: flex;
    visibility: visible;

}
#kills {
    color: red;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    height: 40px;
}
.player-info {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 800px;
    height: 50px;
    margin-bottom: 10px;
}

div > img {
    width: 50px;
    height: 50px;
}

.canvas-container > .start {
    color: #ffdd00;
    width: 500px;
    position: fixed;
    background-color: #8900f2;
    border: solid black 5px;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Nova Script', cursive;
    font-size: 20px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}
.start > #initiate {
    font-size: 20px;
    font-family: 'Nova Script', cursive;
    border-radius: 12px;
    background-color: #5591f5;
    margin-left: 200px;
    margin-right: 200px;
    border: none;
}

.canvas-container > .levelclear {
    color: #ffdd00;
    width: 500px;
    position: fixed;
    background-color: #8900f2;
    border: solid black 5px;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Nova Script', cursive;
    font-size: 20px;
    margin-top: 140px;
    visibility: hidden;
}

.canvas-container > .gameover {
    color: #ffdd00;
    width: 500px;
    position: fixed;
    background-color: #8900f2;
    border: solid black 5px;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Nova Script', cursive;
    font-size: 20px;
    margin-top: 140px;
    visibility: hidden;
}
#reset {
    font-size: 20px;
    font-family: 'Nova Script', cursive;
    border-radius: 12px;
    background-color: #5591f5;
    margin-left: 200px;
    margin-right: 200px;
}

#restart {
    font-size: 20px;
    font-family: 'Nova Script', cursive;
    border-radius: 12px;
    background-color: #5591f5;
    margin-left: 200px;
    margin-right: 200px;
}

#music {
    font-size: 40px;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

body button {
    cursor: pointer;
}

i {
    color: #8900f2;
}

.bottom-content {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}